<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head.html :: head"></head>

<nav th:replace="layout/navigation.html :: navigation"></nav>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Users</li>
        </ol>
        <h1>Users</h1>
        <hr>
        <!-- Icon Cards-->
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Firstname</td>
                            <td>Lastname</td>
                            <td>Username</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:block th:each="user,number : ${users}">
                            <td th:text="${number.index + 1}"></td>
                            <td th:text="${user.firstname}"></td>
                            <td th:text="${user.lastname}"></td>
                            <td th:text="${user.username}"></td>
                            <td><a th:href="@{/user/edit/{id}(id=${user.id})}"><button type="button" class="btn btn-warning">Edit</button></a></td>
                            <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Delete</button></td>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete user?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <a th:href="@{/user/delete/{id}(id=${user.id})}"><button type="button" class="btn btn-primary">Delete</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </tbody>
                </table>
                <!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
                <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
                    <!--Launch demo modal-->
                <!--</button>-->


            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <!-- FOOTER PART -->
    <footer th:replace="layout/footer.html :: footer"></footer>
</div>
<div th:replace="layout/includeScripts.html :: scriptsFragment"></div>
</body>
</html>