<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="scriptsFragment">
<script th:src="@{/resources/static/js/jQuery.js}"></script>
<script th:src="@{/resources/static/js/popper.js}"></script>
<script th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/resources/static/js/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/resources/static/js/sb-admin.min.js}"></script>
<script th:src="@{/resources/static/js/custom.js}"></script>
<script th:src="@{/resources/static/js/formValidator.js}"></script>

</div>
